
*{
    margin : 0;
    padding : 0;
    box-sizing :border-box;
}
body{ 

        font-family: "Inter", sans-serif;
        background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );
}
.home{
    padding :30px;
    display:flex;
    flex-grow :1px;
    justify-content : center;
    align-items : center;
    width : 100%;
    height : 100px;
    box-shadow:
    0 0 2px #60a5fa,
    0 0 3px #60a5fa,
    0 0 6px #60a5fa;
}
.home h4{
    margin-right : auto;
    text-align :center;
    color :white;
    font-size : 40px;
    padding : 0;
    border-radius : 10px;
    width : 400px;
    transition : 0.5s;
}

.links  ul{
    width:100%;
    display : flex;
    justify-content : center;
}
.links ul li{
    display : flex;
    flex-grow :1px;
    justify-content :space-evenly;
    gap : 2em;
    align-items : center;
    height : 100px;
    width : 100%;
}

.home h4:hover{
    box-shadow: 0 15px 6px -10px #60a5fa;
}
.links  ul li a{
    margin :60px;
    border-radius : 3px;
    border:1px solid rgba(255,255,255,0.2);
    font-size : 25px;
    padding : 3px 18px ;
    box-shadow: 0 13px 9px -10px #60a5fa;
   /* box-shadow:
    0 0 2px #60a5fa,
    0 0 3px #60a5fa,
    0 0 6px #60a5fa; */
    color : white;
    text-decoration : none;
    transition : 0.7s;
}
.links ul li a:hover{
  /*  background: rgba(255, 255, 255, 0.116); */
     box-shadow:
    0 0 6px #60a5fa,
    0 0 11px #60a5fa,
    0 0 15px #60a5fa;
}

/* -------------- Home Area ---------------------------------------*/
.home1{
    min-height :100vh;
}
.hero{
    margin : 100px;
    display:flex;
    flex-direction :column;
    justify-content :start;
    align-items : center;
    text-align:center;
    color :white;
    padding-top:40px;

}
.hero h1{
    font-size : 70px;
    margin-bottom : 30px;
}
.hero p{
    font-size : 28px;
    margin : 50px;

}
.hero button{
    font-size : 15px;
    font-weight : bold;
    margin-top :180px;
    display : absolute;  
    color :white;
    cursor : pointer;
    padding : 15px 30px;
    background-color: transparent;
    border:1px solid rgba(255,255,255,0.2);
    box-shadow: 0 13px 9px -10px #60a5fa;
    transition : 0.5s;
}
.hero button:hover{
    box-shadow:
    0 0 6px #60a5fa,
    0 0 11px #60a5fa,
    0 0 15px #60a5fa;
}

/* -------------------------------About me ------------------------------*/
.about{
    margin-top : 200px;
    text-align : center;
    flex-direction : column;
    height : 100vh;
    width:100%;
    display:flex;


}
.about h1{
    font-size : 50px;
    color : white;
    margin : 40px;
}
.about .boxContainer{
    margin : 0 400px;
    height : 80%;
    gap :2em;
    display :grid;
    justify-content : center;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows : 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "box-1 box-2 box-2"
    "box-3 box-3 box-4"
    "box-3 box-3 box-4"
    "box-5 box-5 box-4"
    


}

.about .boxContainer div{
    border-radius : 10px;
    text-align : center;
    width:100%;
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:
    0 0 6px #60a5fa,
    0 0 2px #60a5fa,
    0 0 10px #60a5fa;
    transition : 1s;
}
.about .boxContainer div:hover{
    background: rgba(255, 255, 255, 0.158)

}






@media(max-width: 768px){
    .home .links ul li{
    display:flex;
    flex-direction :column;
    margin-top :40px;


}

.home .links ul li a{
    text-align : center;
    width:100%;
    padding:8px;
    font-size : 20px;
    margin : 40px;
}
.home h4{

    margin: 60px 0 0 0;
    text-align :center;
    font-size : 25px;
}
.home{
    display :flex;
    flex-direction :column;
    justify-content:start;
    position:absolute;
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    height:100vh;
    width:250px;
    top : 0;
    right:0;
    text-align:left;
    z-index:2;
}

/*------------------------------------------*/
.about{
    display :flex;
    align-items : center;
    justify-content : center;
    height : 100vh;

}
.about .boxContainer{
    width : 550px;

}


}






















.section1{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100dvh;

}

.glassContainer{
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    border-radius :10px;
    color :white;
    box-shadow:
    0 0 2px #60a5fa,
    0 0 3px #60a5fa,
    0 0 6px #60a5fa;

    width : 200px;
    height :200px;
    display:flex;
    justify-content : center;
    align-items : center;
    transition :0.5s;
    cursor :pointer;
}

.glassContainer:hover{

    box-shadow:
    0 0 6px #60a5fa,
    0 0 11px #60a5fa,
    0 0 15px #60a5fa;
    background: rgba(255, 255, 255, 0.158)
    


}

.glassContainer h1{
    font-family : arial;
    font-weight : bold;

}