

*{
    margin:0;
    padding :0;
}

body{
    display : flex;
    justify-content : center;
    align-items :center;
    height : 350px;
    background-color :grey;

}

.display{
    overflow :hidden;
}
.calculator{
    border-radius : 10px;
    padding :  15px 6px 6px 7px;
    border : 2px solid black;
    height : 270px
}

.keys{
    cursor : pointer;
    margin-top :10px;
    text-align : center;
    display : grid;
    grid-template-columns : 40px 40px 40px 40px ;
    grid-template-rows :  40px 40px 40px 40px 40px;
    gap : 3px;
    justify-content : space-evenly;
    transition : 1s;


}
input{

    padding : 10px;
    margin : auto;
    border-radius : 5px;
    border : none;
}
buttons{
    margin-top : 3px;
    padding-top : 8.5px;
    background-color:blue;
    transition : 0.5s;
    border-radius:10px;
    border : 1px solid black;

}
.buttons:hover {
    background-color : yellow;
    width : 41px;
    height : 28px;
    border : 1.5px solid black;

}
.buttons:active{
    background-color : hsl(44, 17%, 87%)
}

.btnKeys{
    background-color : hsl(12, 91%, 47%);

}
.btnKeys:hover{
    background-color : gold;
    border : 1.5px solid black;
    height : 28px;
    width : 41px;

}

.btnKeys:active{
    background-color :hsl(12, 100%, 50%)

}